
<select  (change)="onChange($event)">

<option selected>Elige una categoría</option>
<option value="todas">Todas</option>
<option value="lengua">Lengua</option>
<option value="viajes">Viajes</option>
<option value="música">Música</option>

</select>


<div  class="posts">


<div class="post" *ngFor= "let post of arrPosts">

  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top"[src]="post.imagen" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{post.titulo}}</h5>
        <p class="card-text">{{post.texto}}</p>
         <p>{{post.autor}}</p>
         <p>{{post.fecha}}</p>
         <p>{{post.categoria}}</p>
        
          
        </div>
      </div>
    
    
</div>