


.post{
    font-family: 'Bitter', serif;
    background-color:lightpink;
    
}


.posts{

    padding:10px;
    background-color: lightyellow;
    border:1px solid blue
}


.card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
   
