<style>
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');
  </style>

<div class="category">

<select  (change)="onChange($event)">

<option selected>Elige una categoría</option>
<option value="todas">Todas</option>
<option value="lengua">Lengua</option>
<option value="viajes">Viajes</option>
<option value="música">Música</option>

</select>
</div>

<!-- <div class="container-fluid"> -->
<!-- <div class="posts"> -->


  <div class="row ">
    <div class="col-12 .col-sm-6"*ngFor= "let post of arrPosts; let indice = index;">

  <div class="card text-white bg-primary" >
    <div class="card-header">{{post.titulo}}</div>
    <img class="card-img-top"[src]="post.imagen" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">{{post.texto}}</p>
      <p>Autor: {{post.autor}}</p>
      <p>{{post.fecha}}</p>
     <p class="cat">{{post.categoria}}</p>
     <button class="btn btn-sm btn-danger" (click)="onClickBorrar(indice)">Eliminar</button>
    </div>
  </div>
  
</div>
 
  