<style>
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');
  </style>

<select  (change)="onChange($event)">

<option selected>Elige una categoría</option>
<option value="todas">Todas</option>
<option value="lengua">Lengua</option>
<option value="viajes">Viajes</option>
<option value="música">Música</option>

</select>

<!-- <div class="container-fluid"> -->
<!-- <div class="posts"> -->


<div class="post container-fluid" *ngFor= "let post of arrPosts">

  <div class="row align-items-center">
       <div class="col-sm-6">
       <div class="card" style="width: 30rem;">
        <img class="card-img-top"[src]="post.imagen" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{post.titulo}}</h5>
        <p class="card-text">{{post.texto}}</p>
         <p>{{post.autor}}</p>
         <p>{{post.fecha}}</p>
         <p>{{post.categoria}}</p>
        
          </div>
          </div>
          </div>
        </div>
      </div>
    
  